.deps
.libs
.settings
*.m4
Makefile
Makefile.*
*.cache
*.la
*.lo
build
config.*
configure
configure.*
install-sh
libtool
*.sh
missing
mkinstalldirs
modules
run-tests.php
tmp-php.ini
*.loT
.cproject
.project

dump.rdb
